* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html {
    background: #ffffff;
}

body {
    background-image: linear-gradient(#000000, #757575);
    color: #ffffff;
}

body,
p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 2em;
}

.email {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 3.6em;
    line-height: 1.1em;
    margin: 60vh auto;
    max-width: 900px;
}

.email:first-of-type {
    padding-top: 30vh;
    margin-top: -2em;
}

#last {
    padding-bottom: 95vh;
}

.date,
.subject {
    text-align: right;
}

.subject {
    margin-bottom: 1em;
}

.essay {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    max-width: 630px;
    text-indent: 60px;
}

.credits {
    position: absolute;
    background-image: linear-gradient(#757575, #ffffff);
    display: block;
    width: 100%;
    left: 0;
    margin-top: -345px;
    padding: 300px 2em 15px;
    color: #000;
}

.credits p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a {
    color: #ffffff;
    text-decoration-style: dotted;
}

a:hover {
    color: yellow;
}

.credits a {
    color: #000000;
}

.credits a:hover {
    color: #0000FF;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 1em;
    }

    .email {
        font-size: 2em;
        margin: 50vh auto;
    }

    .email:first-of-type {
        padding-top: 15vh;
        margin-top: -1em;
    }

    .essay {
        font-size: 16px;
        text-indent: 40px;
    }

    .credits p {
        font-size: 11px;
    }
}